
/* Structure
-------------------------------------------------------------- */
/*Clearfixing main elements*/
body:before,
body:after,
#page:before,
#page:after,
header:before,
header:after,
#header-container:before,
#header-container:after,
#content:before,
#content:after,
#main:before,
#main:after,
#footer-content:before,
#footer-content:after {
    content:"";
    display:table;
}
body:after,
#page:after,
header:after,
#header-container:after,
#main:after,
#content:after,
#footer-content:after {
    clear:both;
}
body,
#page,
header,
#main,
#content,
.footer-content {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}

body {
    width: 100%;
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 62.5%;
    line-height: 1;
    color: #666666;
    position: relative;
    background: #111111;
}

#page {
    width: 94%;
    margin:0 3%;
    max-width: 1200px;
    min-width: 300px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
    margin: 0 auto -31px; /* the bottom margin is the negative value of the footer's height */;
}

header,
#main,
body.page #main #content,
body.category #main #content,
body.tag #main #content,
#footer {
    width:100%;
    max-width: 1200px;
    min-width: 300px;
}

.single header,
.single #main,
.single #footer {
    max-width: 750px;
    margin:0 auto;
}

/*
Sticky Footer by Ryan Fait
http://ryanfait.com/
*/

#footer, .push {
    height: 31px; /* .push must be the same height as .footer */
}

.push {
    width: 100%;
    overflow: hidden; /*clearfix*/
    position: relative;
    z-index: -1;
}

/* Text meant only for screen readers */
.screen-reader-text,
.assistive-text {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

/* Alignment */
.alignleft {
    display: inline;
    float: left;
}
.alignright {
    display: inline;
    float: right;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Links
-------------------------------------------------------------- */
a, a:link, a:visited {
    color: #111111;
    text-decoration: none;
    -webkit-transition: color .25s ease-in-out;
       -moz-transition: color .25s ease-in-out;
            transition: color .25s ease-in-out;
}

#content a, #content a:link, #content a:visited {
    color: #666666;
    text-decoration: none;
    -webkit-transition: color .25s ease-in-out;
       -moz-transition: color .25s ease-in-out;
            transition: color .25s ease-in-out;
}

a:active, a:hover,
#content a:active, #content a:hover {
    color: blue;
    text-decoration: none;
}

/* Forms
-------------------------------------------------------------- */
input:focus {
    outline: none;
    border: none;
}

/* Headers
-------------------------------------------------------------- */
h1, h2, h3, h4, h5 {
    font-weight: normal;
}

/* Header
-------------------------------------------------------------- */
header {
    position: relative; 
}

#header-container {
    width: 100%;
}

header #logo {
    display:none; /* hiding for now */
    float: left;
}

header h1 {
    width: 100%;
}

header h1 a {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
	background:#FFFFFF;
	padding:20px;
    color: #111111;
    text-transform: uppercase;
}

header h1 a:hover {
    color: blue;
}

/* Menu
-------------------------------------------------------------- */
#main-menu {
    display: none;
    font-size: 1.3em;
	background: #FFFFFF;
	padding: 10px 15px 10px 0;
	text-transform:uppercase;
    float: right;
    float: left;
}

.single #main-menu {
    display: block;
}

#main-menu h3 {
    float: left;
}

#main-menu .menu-main-container {
    float: right;
}

#main-menu ul {
    float: left;
}


#main-menu li {
    float: left;
}

#main-menu a {
    font-weight: bold;
    display: block;
    margin-left: 15px;
    text-decoration: none;
}


/* General
-------------------------------------------------------------- */
#main {
    padding-top: 50px;
    position: relative;
}

#main #content {
    width: 100%;
    padding-bottom: 42px;
    margin-bottom: 20px;
    /*opacity: 0;*/ /*shown on fadein*/
    position: relative;
}

/* Single Post General
-------------------------------------------------------------- */
#main #content .post {
    width: 100%;
}

#main #content .post .description {
    width:100%;
    max-width:710px;
    margin:0 auto;
    padding: 20px;
    word-wrap: break-word;
	background-color:#FFFFFF;
}

#main #content .post .description .title {
    font-size: 1.4em;
	font-weight:bold;
	text-transform:uppercase;
    line-height: 1.1;
	color: #111111;
    padding-bottom: 10px;
}

#main #content .post .description .content p {
    font-size: 1.2em;
	color: #111111;
    line-height: 1.4;
    margin-bottom: 15px;
}

#main #content .post .media {
    width:100%;
    max-width: 750px;
    margin: 0 auto;
}

#main #content .post .media iframe {
    width: 100%;
    min-width: 300px;
    max-width: 750px;
}

#main #content .post .media figure {
    width: 100%;
    margin-top: 20px;
    background: #E6E6E6;
    position: relative;
}

#main #content .post .media figure:first-child {
    margin-top: 0;
}

#main #content .post .media figure img {
    width: 100% !important;
    max-width: 750px !important;
    height: auto !important;
    margin: 0;
    padding: 0;
}

#main #content .post .media figcaption {
    width:100%;
    max-width:710px;
    margin:0 auto;
    font-size: 1.5em;
    line-height: 1.2;
    text-align: right;
    padding: 20px;
}


/* Page Template
-------------------------------------------------------------- */
body.page #main #content article {
    width: 100%;
    float: left;
}

body.page #main #content article .text-container {
    width: 50%;
    margin-right: 5%;
    margin-bottom: 30px;
    float: left;
}

body.page #main #content article .text-container.no-image {
    width: 75%;
    margin-right: 25%;
}

body.page #main #content .text-container h2 {
    font-size: 2.4em;
    margin: 10px 0 20px;
}

body.page #main #content article .text-container p {
    font-size: 1.5em;
    line-height: 1.4;
    margin-bottom: 10px;
}

body.page #main #content article .text-container.no-image p {
    margin-bottom: 20px;
}

body.page #main #content article figure {
    width: 45%;
    background-color: #F4F4F4;
    float: right;
}

body.page #main #content article figure img {
    width: 100% !important;
    max-width: 427px !important;
    height: auto !important;
    margin: 0;
    padding: 0;
}

/* Category and Tags ---- Browse
-------------------------------------------------------------- */
body.page #main #content,
body.category #main #content,
body.tag #main #content {
    width: 100%;
}

#main #content .browse-posts {
    width: 100%;
    float: left;
}

#main #content .browse-posts .column {
    margin: 0 0 2% 2%;
    position: relative;
    float: left;
}

#main #content .browse-posts .column.first {
    margin-left: 0;
}

#main #content .browse-posts .thumb {
    width: 23.5%;
    height: 222px;
}

#main #content .browse-posts .thumb figure {
    width: 100%;
    height: 100%;
}

#main #content .browse-posts .thumb a {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity .35s ease-in-out;
       -moz-transition: opacity .35s ease-in-out;
            transition: opacity .35s ease-in-out;
    -webkit-background-size: 100% 100% !important;
       -moz-background-size: 100% 100% !important;
            background-size: 100% 100% !important;
    position: relative;
    z-index: 2;
}

#main #content .browse-posts .thumb.video a {
    color:#FFFFFF;
}

#main #content .browse-posts .thumb.sculpture a,
#main #content .browse-posts .thumb.drawing a {
    color: #000000;
}

#main #content .browse-posts .thumb a:hover {
    opacity: 0.25;
}

#main #content .browse-posts .thumb figcaption {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: blue;
    z-index: 1;
}

#main #content .browse-posts .thumb.video figcaption {
    color: #FFFFFF;
    background-color: #111111;
}

#main #content .browse-posts .thumb.sculpture figcaption,
#main #content .browse-posts .thumb.drawing figcaption {
    color: #000000;
    background-color: #F4F4F4;
}

#main #content .browse-posts .thumb figcaption h4 {
    font-size: 1.3em;
    font-weight: bold;
	text-transform:uppercase;
    padding: 8% 8% 0 8%;
}

/* Content No Found
-------------------------------------------------------------- */
#content .not-found {
    font-size: 1.6em;
    margin-bottom: 400px;
}

/* Images
-------------------------------------------------------------- */

a img {
    border: none;
}
p img {
    margin-bottom: 0.5em; /* a small bottom margin prevents content floating under images */
}
/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-area img,
.wp-caption {
    max-width: 100%; /* When images are too wide for containing element, force them to fit. */
    height: auto; /* Override height to match resized width for correct aspect ratio. */
}
img.alignleft {
    margin-right: 1em;
}
img.alignright {
    margin-left: 1em;
}
.wp-caption {
    padding: .5em;
    text-align: center;
}
.wp-caption img {
    margin: .25em;
}
.wp-caption .wp-caption-text {
    margin: .5em;
}
.gallery-caption {
}
.wp-smiley {
    margin: 0;
}


/* Footer
-------------------------------------------------------------- */
#footer {
    margin: 0 auto;
    text-align: right;
    font-size: 1.6em;
}

#footer-content {
    padding: 0;
    margin: 0 auto;
    text-align: right;
    position: relative;
    z-index: 2;
}

#footer #footer-logo {
	padding:10px;
    background-color:#FFFFFF;
	text-transform:uppercase;
    float: right;
}

#footer #footer-logo h4 {
    color: #111111;
    font-size: 0.7em;
	font-weight:bold;
    text-align: right;
}